auto-save-list
cider-history
ido.last
projectile-bookmarks.eld
.smex-items
recentf
smex-items
elpa
backups/
%backup%~
**/*.swp
eshell
ido.last~
init.el~
network-security.data
recentf~
tramp
**/*~

anaconda-mode
session.[0-9a-f]+
